@font-face {
    font-family: norse;
    src: url(../fonts/Norse.otf);
}

body {
    background-color: black;
}

.body {
    display: flex;
    flex-direction: row;
   
   
}
/* left side */
.card-container { 
    background-color: blue;
    width: 40%;
    height:100vh;
   
   
}

/* right side */

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header {
    padding : 2em;
    background-color: #fdfdfdf8;
    flex:1;
}

.header-main-content {
    margin : 6em 15em 2em 0;
}

form {
    padding : 2em;
    background-color: white;
    
}
.main-form {
    display: flex;
    font-family: Open sans, Helvetica Neue, Helvetica, Arial;

}
.left-form, .right-form {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
}
.left-form div, .right-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin : 0.5em;
}
.left-form {
    width: 40%;
}
label {
    font-size: 12px;
}

.footer {
    padding : 2em;
    background-color: #fdfdfd;
    flex: 1;
}